<% include ./header.ejs %>
<link rel="stylesheet" href="stylesheets/style2.css">
<div class="profile">
  <h1>profile-2</h1>
    <form id="uploadform" hidden action="/fileupload" method="post" enctype="multipart/form-data">
      <input type="file" name="image">
      <button type="submit">Upload</button> 
    </form>
    <div class="profders">
      <div class="profile-picture">
        <span class="edit" id="uploadicon"></span>
        <img src="/images/uploads/<%= user.ProfileImage %>" alt="">
      </div>
      <h1><%= user.name%></h1>
      <h3>@<%= user.name%></h3>
      <a href="/edit">edit</a>
      <a href="/add">Create A job</a>
    </div>
    <div class="cards">
      <div class="card">
        <div class="card-content">
          <img src="/images/uploads/<%= user?.posts[0]?.image %>" alt="">
        </div>
        <a href="/show/posts">Your uploaded Jobs</a>
        <h5><%= user.posts.length %>Pins</h5>
      </div>
    </div>
  </div>


<style>
    
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; 
  background-color: #d1d5db; 
  color: white;
}


.profile {
  width: 100%;
  min-height: 100vh;
  background-color: #d1d5db;
  color: white;
  padding-top: 1rem;
}

.profders {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem; 
}

.profile-picture {
  width: 8rem;
  height: 8rem;
  background-color: #34d399;
  border-radius: 50%;
  position: relative;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.edit {
  width: 2rem;
  height: 2rem;
  background-color: #ef4444;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.profders h1 {
  font-size: 1.875rem;
  font-weight: 600;
  margin-top: 1.25rem;
}

.profders h3 {
  font-size: 1rem;
  margin-top: 0.25rem;
}

.profders a {
  margin-top: 1.25rem;
  padding: 0.4375rem 1.75rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  padding: 0 1.25rem;
  margin-top: 1.25rem;
}

.card {
  flex: 1 0 0%;
  max-width: calc(50% - 1.25rem);
}

.card-content {
  width: 8rem;
  height: 6rem;
  background-color: #ef4444;
  border-radius: 0.625rem;
  overflow: hidden;
}

.card-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card a {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1rem;
}

.card h5 {
  font-size: 0.875rem;
  font-weight: 600;
  margin-top: 0.5rem;
  opacity: 0.6;
}


</style>



<script>
    document.querySelector("#uploadicon").addEventListener("click",function(){
        document.querySelector("#uploadform input").click()
    })
    document.querySelector("#uploadform input").addEventListener("change", function(){
        document.querySelector("#uploadform").submit();

    })

</script>
 


<% include ./footer.ejs %>